.user-list {
  padding: 20px;
  background: #f9f9f9;
  border-radius: 10px;
}

.admin-label {
  color: white;
  background: #007bff;
  padding: 2px 6px;
  border-radius: 5px;
  margin-left: 10px;
  font-size: 12px;
}
